<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appgeografia2">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Activity_preguntas"></activity>
        <activity android:name=".MapaMexico" />
        <activity android:name=".Activity_Acelerometro" />
        <activity android:name=".Activity_Capitales" />
        <activity android:name=".Activity_Ciudades" />
        <activity android:name=".Activity_Rompecabezas" /> <!-- android:theme="@style/Theme.AppGeografia2" -->
        <activity android:name=".Activity_Lecciones" />
        <activity android:name=".Activity_Galeria" />
        <activity android:name=".Activity_Ubicacion" />
        <activity android:name=".Activity_Brujula" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>